/*page setup*/
body, html {
    margin: 0;
    padding: 0;
    background-color: #3d405b;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}
/*font setup*/
div {
    font-family: 'Gowun Dodum', sans-serif;
    color: #ffffff;
}
/*header/footer bg css*/
header, footer {
    padding: 1rem;
    background-color: #303348;
    font-size: 30px;
}
/*link css*/
a {
    text-decoration: none;
    margin: auto 1rem;
}
a:link {
    color: #ffffff;
}
a:visited {
    color: #696969;
}
a:focus {
    background-color: #2e4045;
}
a:hover {
    background-color: #2e4045;
}
a:active {
    color: #f4f1de;
}
/*section flexboxes*/
.header, .footer, .me, .project, .more {
    display: flex;
    clear: both;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    margin: 1rem 0;
}
/*page spacing*/
main {
    margin: 2rem;
}
/*img and tagline css*/
figure { 
    display: inline-block;
    text-align: center;
}
figcaption {
    font-size: 40px;
    font-weight: bolder;
}
/*specific section formatting css*/
.footer {    
    flex-direction: row-reverse;
}
.me, .project, .more {
    font-size: 20px;
}
.project img {
    margin-right: 3rem;
}
.reverse {
    flex-direction: row-reverse;
}
.reverse img {
    margin-left: 3rem;
}
#game1, #game2, #game3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    text-align: center;
}
h2 {
    font-weight: lighter;
    text-decoration: underline;
}