body {
    background-color:#ffffff;
}
h1 { 
    color:#ff0000;
    border-bottom: 1px solid #0000ff;
}
blockquote { 
    background-color: #d3d3d3;
    padding: 1rem;
}
h2 {
    color:#ffafcc;
}
p {
    margin-left:100px;
}
img.side {
    float:right;
    margin: 12px;
}
a, li, blockquote, p {
    font-family: Arial, sans-serif;
}
h1, h2 {
    font-family: "Gowun Dodum", sans-serif;
}
footer {
    background-color: #bde0fe;
}
a:link {
    color: #483d8b;
}
a:visited {
    color: #cdb4db;
}
a:focus {
    background-color: #ffc8dd;
}
a:hover {
    background-color:#98fb98;
}
a:active {
    color: #800000;
}